<!DOCTYPE html>
<html>
<head>
  <title>Exercisr</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: "layouts/nav" %>

<div id="login_notice"></div>

<% if !notice.blank? || !alert.blank? %>
  <div class="row">
    <div class="large-12 columns">
      <% if !notice.blank? %>
        <div class="alert-box success" id="notice"><%= notice %></div>
      <% end %>

      <% if !alert.blank? %>
        <div class="alert-box alert" id="alert"><%= alert %></div>
      <% end %>
    </div>
  </div>
<% end %>

<%= yield %>
<div id="signup_window" class="reveal-modal"></div>
<div id="login_window" class="reveal-modal"></div>
</body>
</html>
