<!DOCTYPE html>
<html>
<head>
  <title>Exercisr</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "Exercisr", root_path %></a></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <li class="divider"></li>
        <% if current_user %>
          <li><%= link_to "Edit Profile", edit_user_path(current_user.id) %></li>
          <li class="divider"></li>
          <li><%= link_to "Logout", :logout %></li>
        <% else %>
          <li><%= link_to "Register", new_user_path %> </li>
          <li><%= link_to "Register (AJAX)", new_user_path, :remote => true, :data => {"reveal-id" => "signup_window"} %></li>
          <li class="divider"></li>
          <li><%= link_to "Login", :login %></li>
          <li><%= link_to "Login (AJAX)", :login, :remote => true, :data => {"reveal-id" => "login_window"} %></li>
        <% end %>
      </ul>
    </div>
  </nav>



<% if !notice.blank? || !alert.blank? %>
  <div class="row">
    <div class="large-12 columns">
      <% if !notice.blank? %>
        <div class="alert-box success" id="notice"><%= notice %></div>
      <% end %>

      <% if !alert.blank? %>
        <div class="alert-box alert" id="alert"><%= alert %></div>
      <% end %>
    </div>
  </div>
<% end %>

<%= yield %>
<div id="signup_window" class="reveal-modal"></div>
<div id="login_window" class="reveal-modal"></div>
<%#= javascript_include_tag "application" %>
</body>
</html>
